body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
}

.content-top {
    width: 740px;
    margin: 0 auto 10px auto;
}

.container {
    display: flex;
    gap: 20px;
    width: 740px;
    align-items: center; /* Выравнивание по центру вертикально */
}

.circle-crop {
    border-radius: 50%;
    width: 160px; /* Изменено на 160px */
    height: 160px; /* Изменено на 160px */
    object-fit: cover;
}

.text-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по вертикали */
}

.element1 {
    font-size: 24px;
    margin: 0 0 5px 0;
}

.element2 {
    font-size: 14px;
    margin: 0;
}

.right-side-text {
    width: 200px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по вертикали */
}

.right-side-text h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.right-side-text p {
    font-size: 14px;
    margin: 0;
}

.divider {
    width: 740px;
    height: 1px;
    background-color: #C2C0c0;
    margin: 30px auto;
}

.content-bottom {
    width: 740px;
    margin: 30px auto 0 auto;
}

.content-bottom p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}