body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
}


.container {
    display: flex;
    gap: 20px;
    
    width: 800px;
    margin: 0 auto 10px auto;
    align-items: center; /* Выравнивание по центру вертикально */
}

.circle-crop {
    border-radius: 50%;
    width: 160px; /* Изменено на 160px */
    height: 160px; /* Изменено на 160px */
    object-fit: cover;
}

.element1 {
    font-size: 24px;
    margin: 0 0 5px 0;
}

.element2 {
    font-size: 14px;
    margin: 0;
}


.text-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.right-side-text {
 
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.divider {
    width: 740px;
    height: 1px;
    background-color: #C2C0c0;
    margin: 10px auto;
}

.content-bottom {
    margin-top: 20px;
}



.table {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table__hobbies {
  border: 1px solid #008000;
  border-radius: 10px 0 0 10px;
}

.table__hobbies-title,
.table__social-title {
  border-bottom: 1px solid green;
  text-align: center;
  color: green;
  padding: 5px 0;
  font-weight: bold;
}

.table__social {
  border: 1px solid #008000;
  border-radius: 0 10px 10px 0;

}

.table__list {
  width: fit-content;
  margin: 0 auto;
}

.table__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.table__list-item:hover {
  cursor: pointer;
  color: green;
}

.table__list-item>a {
  text-decoration: none;
  color: black;
}

.title {
  background: green;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  margin-top: 60px;
}


.osnova {

  max-width: 800px;
  margin: 0 auto;
}

.icon-button {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 15px;
        border-radius: 12px;
        transition: all 0.3s ease;
    }

    .icon-button:hover {
        background-color: #b2d69d;
        transform: translateY(-2px);
    }

    .icon-button img {
        
        width: 50px;    
        height: 50px;  
        margin-bottom: 10px;
        border-radius: 10px;
        object-fit: cover; 
        transition: transform 0.2s ease;
    }

    .icon-button:hover img {
        transform: scale(1.1);
    }

    .icon-button span {
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
        color: #2c3e50;
    }

.mmm{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

   
}
.text-piton{
    padding: 10px;
}

.green-box {
  background: green;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  margin-top: 60px;
}

.green-box2 {
  background: green;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  margin-top: 30px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
    padding-bottom: 30px;
        }
        
.form-group {
            margin-bottom: 15px;
        }
        
label {
            display: block;
            margin-bottom: 5px;
        }
        
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.form__input,
.form__textarea {
  border: 1px solid #B8B8B8;
  border-radius: 10px;
  padding: 10px;
}

.form__textarea,
.form__button {
grid-column-end: 3;
  grid-column-start: 1;
  
}

.form__button {
  width: fit-content;

  margin: 0 auto;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background: green;
}